html{
    font-family: Roboto;
}

.card{
    height: 350px;
}

.card-image{
    height: 178px;
}

.card-image>.card-title{
    text-shadow: 1px 1px #000000;
}

.card-title{
    text-transform: capitalize;
}

.card-reveal>.card-title{
    text-transform: uppercase;
}